* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteiner {
  background-color: white;
  margin: auto;
  max-width: 700px;
  min-width: 320px;
  padding: 16px;
  width: 90%;
}

.titulo {
  font-size: 40px;
  text-align: center;
}

header hr {
  margin-top: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.subtitulo {
  font-size: 27px;
}

.dados-pessoais img {
  border-radius: 50%;
  width: 220px;
}

.dados {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

span {
  font-weight: bold;
}

.formacoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formacao {
  line-height: 1.5;
}

.experiencias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experiencia {
  line-height: 1.5;
}

.habilidades {
  line-height: 1.5;
  margin-left: 16px;
}

.habilidades li {
  list-style-type: disc;
}

.contatos {
  line-height: 1.5;
  margin-left: 16px;
}

.contatos li {
  list-style-type: disc;
}

a {
  text-decoration: none;
}

footer hr {
  margin-bottom: 16px;
}

footer div {
  display: flex;
  justify-content: space-around;
}

footer a {
  color: darkturquoise;
}
